<section class='container custom-container'>
    <section class='col-md-3'></section>
    <section class='col-md-6'>
        <form>
            <legend>Sign up form</legend>

            <div class="form-group">
                <input type="text" ng-model='username' class="form-control" id="" placeholder="New unique username" /> <br/>
                <input type='text' ng-model='email' class='form-control' placeholder="Valid email id" /> <br/>
                <input type='password' ng-model='password' class='form-control' placeholder="password" /> <br/>
                <input type='password' ng-model='cPassword' class='form-control' placeholder="Confirm password" />
            </div>

            <p class='text-center'><button ng-click='signup()' type="button" class="btn btn-primary btn-sm">SIGN UP</button></p>
            <p class="text-center">Already a member? <a href='/' class='btn btn-link'>Login</a></p>
            <p class='error text-center' ng-show='auth_error' style='color: darkred' ng-bind='auth_error'></p>
        </form>
    </section> 
    <section class='col-md-6'></section>
</section>
