
<a class='btn btn-default' href='/dBoard'>
	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
</a>
<br/>
<br/>
<section class='container'>
	<section class='row'>
		<section class='col-md-3'></section>
		<section class='col-md-6'>
			
            <div class="form-group">
                <input type="password" ng-model='oldPassword' class="form-control" id="" placeholder="Old password" required/> <br/>
                <input type='password' ng-model='newPassword' class='form-control' placeholder="new password" required/> <br/>
				<input type='password' ng-model='cNewPassword' class='form-control' placeholder="confirm new password" required/> <br/>
            </div>

            <p class='text-center'><button ng-click='updatePassword()' type="button" class="btn btn-primary btn-sm">UPDATE</button></p>
            <p class='error text-center' ng-show='auth_error' style='color: darkred' ng-bind='auth_error'></p>
		</section>
		<section class='col-md-3'></section>
	</section>
</section>